div{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    display: block;
}

@media only screen and (min-width: 768px){
    .product-detail{
        margin: 75px 0;
        max-width: 1200px;
        flex-direction: row;
    }
    .product-detail .left-container {
        width: 600px;
        height: 600px;
    }
    .product-detail .right-container{
        padding: 0 35px;
    }
    .name{
        font-size: 24px;
        line-height: 32px;
    }
    .descrip{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .offer {
        margin-top: 30px;
    }
    .add-to-cart-button {
        flex-grow: unset;
    }
}

.product-detail {
    margin: 20px 0;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.product-detail .left-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05) ;
    flex-shrink: 0;

}

.product-detail .right-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.name{
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
}
.price {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
}
.descrip {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    color: #6b6b6b
}

.offer {
    display: flex;
}
.quantity-button {
    width: fit-content;
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin-right: 10px;
    height: 50px;
}

.quantity-button .span {
    font-size: 18px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #6b6b6b;
    &:nth-child(1) {
        border-right: 2px solid rgba(0, 0, 0, 0.2);
    }
    &:nth-child(2) {
        width: 60px;
    }
    &:nth-child(3) {
        border-left: 2px solid rgba(0, 0, 0, 0.2);
    }
}

.add-to-cart-button {
    outline: 0;
    border: 0;
    height: 50px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background: #8e2de2;
    border-bottom: 3px solid #6516aa;
    flex-grow: 1;
}